
.page-background {
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 1065px;
    margin-right: auto;
    margin-left: auto;
}
.clearfix::after {
    clear: both;
    content: "";
    display: block;
}
.header {
    margin: 50px auto;
    width: 1063px;
    height: 44px;
}
.logo-img {
    float: left;
    padding-right: 15px;
    width: 46px;
    height: 57px;
    fill: white;
}
.general-text {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-weight: 700;
}
.logo-text-flex {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 44px;
}
.orange-hover:hover * {
    color: #f3651d;
    fill: #f3651d;
}
.top-logo-text {
    font-size: 29px;
    line-height: 29px; 
    margin: -1px 0;
    text-transform: uppercase;
}
.top-logo-text-bottomline {
    font-size: 18px;
    line-height: 18px;
    margin: -1px 0; 
    text-transform: uppercase;
}
.top-contacts {
    float: right;
    text-align: right;
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
}
.img-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img-link {
    max-width: 100%;
}
.img-link-description {
    text-align: center;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 60px;
}
.footer-link-description {
    font-family: Verdana;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}
.text-decoration-none {
    text-decoration: none;
}
.img-menu-link {
    position: relative;
}
.img-menu-link-more {
    width: 100%;
    height: 60px;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 141px;
    background-color: #f26522;
    opacity: 0;
    transition: 0.4s;
}
.img-menu-link-item {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 10px;
}
.img-menu-link-price {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 20px;
}
.img-menu-link-more-second {
    padding-top: 18px;
}
.img-menu-link-view-details {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 14px;
    text-decoration: none;
}
.img-menu-link-arrow {
    width: 7px;
    height: 10px;
    margin-left: 15px;
}
.img-menu-link:hover .img-menu-link-more {
    opacity: 1;
}
.img-menu-link:hover .img-link-description{
    color: #f26522;
}



